.red {

    color: var(--color-corporativo);

}


:root {
    --color-corporativo: rgb(215, 95, 95);
}


.dentro .simulador {
    background-image: url("../fotos-de-paisajes-naturales_138_gallery_46_orig.jpeg");
    padding: 5vh;
}
