div.ajax-wait {
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

img.ajax-wait {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 10%;
    height: auto;
    opacity: 1;
}

.errorMsg {
    color: red;
}

.errorMsgLogin {
    color: white;
}