.bg {
    /* The image used */
    background-image: url("./fotos-de-paisajes-naturales_138_gallery_46_orig.jpeg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .container{
      position:absolute;
      left:50%;
      top:50%;
      text-align: center;
      padding:30px;
      width:500px;
      color:#111;
      background:transparent;
      background-color: rgba(246, 6, 6, 0.353);
      transform: translate(-50%, -50%);
      border-radius: 30px;
      
  }

