.titulo {
  padding: 4vh;
  font-size: 5vh;
  background-color: var(--color-corporativo);
  color: white;
  width: 100%;
}

.pie {
  position: fixed;
  bottom: 0;
  padding: 2vh; 
  font-size: 1.5vh;
  text-align: center;
  width: 100%;
  background-color: var(--color-corporativo);
  color: white;
 
}

.navbar > .navbar-brand, .navbar > div{
    padding-left: 4vh;
    color: var(--color-corporativo);
    font-size: 1.25rem;
}

.navbar{
  display: flex;
  justify-content: flex-start;
}

.cuerpo {
  margin: 5vh;

}
.subtitulo {
  font-size: 3vh;
  color: var(--color-corporativo);
  padding-bottom: 2vh;
  font-weight: normal;

}

img {
  width: 50vw;
  max-height: 30vh;

}

.imagenInicio {
  display: flex;
  margin-top: 5vh;
}

:root {
  --color-corporativo: rgb(215, 95, 95);
}

.titulo {

  margin-bottom: 0vh;

}

.arriba {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;


}

.dentro {

  margin-top:21vh;
  margin-bottom: 8.5vh;

}

.seccionFormulario{
  font-size: 4vh;

}

.todo {

  width: 100%;

  justify-content: space-between;


}
